.container {
  display: flex;
  width: 800px;
  margin: auto;
  height: 400px;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 4.5em;
}
.subtitle {
  margin-top: 20px;
  color: #2e2e2e;
  font-size: 1.2em;
}
.iconContainer {
  margin-top: 20px;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #e7e7e7;
  }
  .subtitle {
    color: #e7e7e7;
  }
}
