.button {
  color: #898fa0;
  cursor: pointer;
  margin: 10px 20px;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}
.button:hover {
  transition: color 0.5s ease;
  color: #2e2e2e;
}

.button-chosen:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #1a98ff;
}
.button-chosen:hover:before {
  transition: width 0.5s ease;
  width: 50%;
}

.title {
  cursor: pointer;
  text-decoration: none;
  color: #2e2e2e;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #e7e7e7;
  }
  .button {
    color: #ffffff;
  }
  .button:hover {
    color: #c5cee7;
  }
}
