.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}
.item:hover {
  transition: color 0.5s ease;
  color: #1a98ff;
}
.title {
  font-size: 22px;
}
.time {
  color: #1a98ff;
  font-weight: 1000;
  background-color: #ddf0ff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
}
.year {
  width: 800px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
  .item {
    color: #e7e7e7;
  }
}
