.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}
.title {
  width: auto;
  margin: auto;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}
.title:before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 45%;
  width: 10%;
  border-bottom: 1px solid #1a98ff;
}
.date {
  width: auto;
  margin: auto;
  font-size: 14px;
  color: #898fa0;
  margin-top: 20px;
}
.content {
  margin-top: 20px;
}

@media (prefers-color-scheme: dark) {
  .date {
    color: #e7e7e7;
  }
}
